.intro {
  padding-left: 148px;
  display: flex;
  flex-direction: column;
  padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: calc(100% - 48px);
    margin: 0 auto;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    width: calc(100% - 32px);
    margin: 0 auto;
    padding-bottom: 64px;
  }
}