.place {
  width: 984px;
  height: 660px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 460px;
  grid-auto-flow: column;
  gap: 48px 40px;
  /*display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 48px 40px;*/
}