.place {
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-auto-flow: column;
  gap: 48px 40px;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    gap: 48px 32px;
  }
}